@{
    ViewData["Title"] = "Index";
    Layout = "~/areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container px-4 py-5" id="custom-cards">

    <div class="row row-cols-1 h-100 row-cols-lg-3 align-items-stretch g-4">
        <div class="col" style="height:350px">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 text-white text-shadow-1" style="background-image: url('https://i.pinimg.com/originals/db/69/09/db69093d2a2f46b53e88f4e3f54f0691.jpg') ;background-size: 100% 100%; ">
                    <div class="bg-dark  w-75 h-75 m-auto rounded-5">

                        <div class="p-4">
                            <div class="m-auto">
                                <h3 class="text-center">Gelen mesaj sayisi</h3>
                                <h3 class="text-center mt-3">
                                    0
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" style="height:350px">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 text-white text-shadow-1" style="background-image: url('https://i.pinimg.com/originals/db/69/09/db69093d2a2f46b53e88f4e3f54f0691.jpg') ;background-size: 100% 100%; ">
                    <div class="bg-dark  w-75 h-75 m-auto rounded-5">

                        <div class="p-4">
                            <div class="m-auto">
                                <h3 class="text-center">Toplam proje sayisi</h3>
                                <h3 class="text-center mt-3">
                                    0
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col" style="height:350px">
            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
                <div class="d-flex flex-column h-100 text-white text-shadow-1" style="background-image: url('https://i.pinimg.com/originals/db/69/09/db69093d2a2f46b53e88f4e3f54f0691.jpg') ;background-size: 100% 100%; ">
                    <div class="bg-dark  w-75 h-75 m-auto rounded-5">

                        <div class="p-4">
                            <div class="m-auto">
                                <h3 class="text-center">Hava durumu</h3>
                                <h3 class="text-center mt-3">
                                    0
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

