@{
    ViewData["Title"] = "Hakkimda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-2">
    <div class="card text-center">
        <div class="card-header">
            <img src="https://pbs.twimg.com/media/Cfm9jq5WsAENBFS.jpg:large" class="rounded-5" style="width:18rem" />
        </div>
        <div class="card-body row">
            <h3 class="card-title">Kisisel bilgilerim</h3>
            <div class="col-8 m-auto text-start mt-5">
                <h5>Hakkimda : </h5>
                <p class="card-text">
                    Tokat Gaziosmanpasa universitesi bilgisayar muhendisligi bolumunden 2024 yilinda mezun oldum.Ankarada yasamaktayim. Aktif olarak is aramaktayim.
                </p>
            </div>
            <div class="card-body row mt-5">
                <div class="col-3">
                    <h5 class="text-end">Iletisim: </h5>
                </div>
                <div class="col-9">
                </div>


                <div class="col-3 text-end">
                    <b>Universite :</b>
                </div>
                <div class="col-9 text-start">
                    <p> Tokat Gaziosmanpasa Universitesi</p>
                </div>

                <div class="col-3 text-end">
                    <b>Mail adresim :</b>
                </div>
                <div class="col-9 text-start">
                    <p> gokhancetin00@outlook.com</p>
                </div>

                <div class="col-3 text-end">
                    <b>Telefon numarasi :</b>
                </div>
                <div class="col-9 text-start">
                    <p> +90 5461346967</p>
                </div>

                <div class="col-3 text-end">
                    <b>Adres :</b>
                </div>
                <div class="col-9 text-start">
                    <p> Ankara/Cankaya</p>
                </div>


            </div>
        </div>
        <div class="card-footer text-body-secondary">
            Personal information
        </div>
    </div>
</div>